<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tiny App</title>
  </head>
  <body>
        <h1>Logout</h1>
        <% include partials/_header %>
  
        <form action="/logout" method="GET" style="margin:150px;">
            <button type="submit" value="Delete" />Logout</form>button>
          </form>
</body>
</html>