<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tiny App</title>
  </head>
  <% if (username !== undefined) { %>
  <h1>Welcome <%= username %></h1>
  <% } %>
  <body>
    <form method="POST" action="/login">
      <label for=" ">Username</label> <input type="text" name="username" />
      <button type="submit" value="Submit">Submit</button>
    </form>

    <div>
      <form method="GET" action="/logout">
        <button type="submit" value="delete">Logout</button>
      </form>
    </div>
  </body>
</html>
